<div
class="header-background"
fxLayout="row"
fxFlex=100>
    <div 
    class="content-wrapper"
    fxLayout=row
    fxFlexOffset=1em
    fxFlex=100>
        <div
        class="stays-item-container"
        fxLayout=row
        fxFlex=33
        routerLinkActive="active"
        routerLink="/stays">
            <span 
            class="material-icons stays-icon-white">
                home_work
            </span>
            <span 
            fxFlexOffset=5
            class="stays">
                Stays
            </span>
        </div>
        <div
        class="car-rental-item-container"
        fxLayout=row
        fxFlexOffset=5
        fxFlex=33
        routerLinkActive="active"
        routerLink="/car-rental">
            <span 
            class="material-icons car-icon-white">
                drive_eta
            </span>
            <span 
            fxFlexOffset=5
            class="car-rental">
                Car rental
            </span>
        </div>
        <div
        class="taxi-item-container"
        fxLayout=row
        fxFlexOffset=5
        fxFlex=33
        routerLinkActive="active"
        routerLink="/taxi">
            <span 
            class="taxi-icon-white">
                TAXI
            </span>
            <span class="taxi"
            fxFlexOffset=5>
                Taxi
            </span>
        </div>
    </div>
</div>