<div
class="header-background"
fxLayout="row"
fxFlex=100>
    <div 
    class="content-wrapper"
    fxLayout=row
    fxFlex=100
    fxFlexOffset="1em">
        <div
        (click)="inputSideNav.toggle()">
            <span 
            fxFlexOffset=5
            class="material-icons menu-icon-white">
                menu
            </span>
        </div>
        <div>
            <span class="bookingTitle">Booking</span>
            <span class="comTitle">.com</span>
        </div>
        <div>
            <span
            class="material-icons notification-icon-white">
                notifications_none
            </span>
        </div>
    </div>
</div>