<div
class="header-background"
fxLayout="row"
fxFlex=100>
    <div 
    class="content-wrapper"
    fxLayout=row
    fxFlex=100
    fxFlexOffset=1.5em>
        <div
        class="back-arrow-container"
        (click)=back()>
            <span 
            class="material-icons back-icon-white">
                arrow_back
            </span>
        </div>
        <div
        fxFlexOffset=2em>
            <span class="accTitle">{{accomodation.title}}</span><br>
            <span class="accDate">{{dateWithoutYear}}</span>
        </div>
        <div
        class="favorite-share-more-container">
            <span
            class="material-icons heart-icon-white">
                favorite_border
            </span>
            <span
            class="material-icons share-icon-white">
                share
            </span>
            <span
            class="material-icons more-icon-white">
                more_vert
            </span>
        </div>
    </div>
</div>