.nearby-place-wrapper{
    justify-content: space-between;
}
.grey-text{
    color: rgb(131, 131, 131);
}
@media only screen and (min-width: 768px){

    .nearby-place-wrapper > span{
        font-size: 1.1em;
    }
}