.dialog-already-selected{
    border-radius: .8em;
}
.dialog-text{
    font-size: large;
}
.button-ok{
    width: 100%;
    background-color: #4267B2;
    color: white;
}
.dialog-already-selected{
    text-align: center;
}
::ng-deep .mat-dialog-container{
    padding: 1em!important;
}
.cdk-global-overlay-wrapper{
    align-items: center!important;
}