.background{
    height: 100vh;
    display: flex;
}
form{
    padding-bottom: 5%;
}
.back-icon-white{
    color: white;
}
.create-account{
    background-color: #4267B2;
    color: white;
}
.form-background-wrapper{
    background-color: white;
    border-radius: 3px;
}
mat-icon{
    color:grey;
    font-size: 1.5em!important;
    margin-left: -0.5em;
}

::ng-deep .mat-form-field-infix{
border-top-width: 0px;
}

.create-account{
    border-radius: 2px;
}
