<div
fxLayout=column
class="background">
    <div
    fxFlexOffset=5
    fxLayout="row">
        <span 
        fxFlexOffset=5
        class="material-icons back-icon-white"
        routerLink='..'>
            arrow_back
        </span>
    </div>
    <div
    fxFlexOffset=5
    fxLayout=row>
        <div
        class="form-background-wrapper"
        fxLayout=column
        fxFlex=90
        fxFlexOffset=5>
            <div
            fxLayout=column
            fxFlexOffset=5>
                <div
                fxLayout=row>
                    <h3 
                    fxFlexOffset=5>
                    <b>Create an Account</b></h3>
                </div>

                <div
                fxLayout=row>
                    <form 
                    action=""
                    fxLayout=column
                    fxFlexOffset=5
                    fxFlex=90>
                        <div
                        fxLayout=row>
                            <mat-form-field
                            class="input"
                            fxFlex=100>
                                <mat-label>Email address</mat-label>
                                <input  matInput #email cdkFocusInitial >
                            </mat-form-field>
                        </div>
                        
                        <div
                        fxLayout=row>
                            <mat-form-field 
                            fxFlex=100>
                                <mat-label>Password</mat-label>
                                <input matInput [type]="hide ? 'password' : 'text'">
                                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                </button>
                            </mat-form-field>
                        </div>
                        

                        <div
                        fxLayout=row>
                            <button 
                            fxFlex=100
                            class="create-account" mat-raised-button> 
                                <span class="buttontext">Create account</span>
                            </button>
                        </div>
                        
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
